@using WebApp.Services
@inject ISessionService SessionService

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @{
        if (!await SessionService.IsLoggedIn(ViewBag.SessionId))
        {
            <h1 class="display-4">Welcome</h1>
            <p>You're not logged in.</p>
        }
        else
        {
            <h1 class="display-4">Welcome @await SessionService.UsernameLoggedIn(ViewBag.SessionId) </h1>
            <p>Glad to have you here.</p>
        }
    }
</div>
