@model WebApp.Models.SimpleNoteVM
@using WebApp.Services

<div>
    <h4>SimpleNoteVM</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Text)
        </dt>
        <div style="word-wrap:break-word; width:550px;">
            @Markdown.ParseHtmlString(Model.Text)
        </div>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
